# Analüütika andmebaas
POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum
DB_PORT_HOST=5439
TZ=Europe/Tallinn

# Superseti veebiliides
SUPERSET_PORT_HOST=8088
SUPERSET_SECRET_KEY=praktikum_09_baastase_secret_key_muuda_soovi_korral_2026
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=praktikum09
SUPERSET_ADMIN_EMAIL=admin@example.com

# Sünteetilise veebipoe andmevoog
DEMO_START_DATE=2026-04-30
SOURCE_API_PORT=8019
SOURCE_API_PORT_HOST=8019
SOURCE_MAX_DAYS=120
SOURCE_AVERAGE_ORDERS_PER_DAY=100
SOURCE_ORDERS_PER_DAY_STDDEV=10
SOURCE_ORDER_COUNT_MIN=70
SOURCE_ORDER_COUNT_MAX=130
INITIAL_BACKFILL_DAYS=14
MICROBATCH_SIZE=12
